/*HEADER*/

header {
  display: flex;
  align-items: center;
  padding: 91px 52px 91px 52px;
  justify-content: space-between;
  margin: 0 auto;
}

.header__menu {
  padding-top: 3px;
}

.header__logo {
  display: flex;
  margin-right: 149px;
  width: 139px;
}

.header__logo-image {
  width: 100%;
}

.header__links-list-item {
  color: rgb(0, 0, 0);
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.adress {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
}

.header__adress {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.header__adress-underline {
  text-underline-offset: 4px;
}

/*COVER*/

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  font-family: "Raleway", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  text-align: left;
  padding-top: 168px;
  padding-left: 51px;
}

.aligned-text_center {
  text-align: center;
  padding-top: 15px;
}

.aligned-text-right {
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 53px;
  z-index: 2;
  gap: 31px;
  padding-right: 50px;
}

.cover__description-text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  z-index: 2;
  white-space: nowrap;
  padding-right: 48px;
}

.bet-button {
  width: 256px;
  z-index: 2;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background: none;
  font-family: Raleway;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  padding: 10px 50px 12px 30px;
  white-space: nowrap;
}

/*LOTS*/

.lots {
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-family: "Raleway", "Arial", sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding-left: 64px;
  padding-top: 3px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0 24px 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: underline;
  font-style: normal;
}

.card__text {
  color: rgb(255, 255, 255);
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
}

.lots__look-more-link {
  font-family: "Raleway", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 64px;
  font-style: normal;
  text-underline-offset: 4px;
}

/*ABOUT*/

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  margin-top: 144px;
  margin-bottom: 178px;
}

.about__column {
  padding-top: 36px;
}

.about__column-logo {
  display: grid;
  align-items: start;
  justify-items: center;
  padding-left: 24px;
}

.about__logo {
  display: flex;
  border-radius: 50%;
  background-color: black;
  height: 240px;
  width: 240px;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding-top: 100px;
}

.about__title {
  font-family: "Raleway", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 47px;
  padding-top: 100px;
}

.about__text {
  font-family: "Raleway", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  gap: 27px;
  display: flex;
  flex-direction: column;
  padding-top: 99px;
  padding-right: 22px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 91px;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.footer__links-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-underline-offset: 4px;
}

.footer__links-list-item {
  font-family: "Raleway", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 48px;
  padding-right: 50px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
